body{
    margin: 0%;
}
header{
    background-color: aqua;
    width: 100vw;
    height: 10vh;
    margin: 0%;
}
a{
    text-decoration: none;
}
nav{
    padding: 10px 200px;
}
nav a{
    padding-right: 20px;
}