* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background-color: rgb(213, 216, 216);
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.card1,
.card2,
.card3 {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border: 0px solid white;
    border-radius: 10px;
    margin-top: 10px;
    width: 800px;
}


.bgcolor {
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    margin-top: 15px;
    position: relative;
    border-radius: 8px;
}

.bgtxt {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bgcolor1 {
    background-color: aqua;
}

.bgcolor2 {
    background-color: rgb(232, 176, 74);
}

.bgcolor3 {
    background-color: yellowgreen;
}


.profile {
    position: relative;
}

.title {
    position: absolute;
    top: -140px;
    left: 180px;
    font-size: 1.2rem;
    font-weight: 300;
}

.rating {
    position: absolute;
    top: -96px;
    left: 180px;
}

.color {
    position: absolute;
    top: -50px;
    left: 180px;
}

.buttons {
    position: relative;
}

.delete-button {
    position: absolute;
    top: 5px;
    left: 700px;
    margin-top: -150px;
}

.like-button {
    position: absolute;
    top: 5px;
    left: 750px;
    margin-top: -150px;
}
.line{
    width: 760px;
    margin-left: 20px;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    padding-left: 20px;
    
}
.pricebox{
    /* position: relative; */
    padding-left: 20px;
    padding-right: 100px;
}
.oldprice{
    /* position: absolute; */
    opacity: .5;
}
.qbox{
    padding-left: 150px;
    padding-right: 100px;
}
.tot{
    padding-left: 150px;
    /* padding-right: 150px; */
}

.outbuttons{
    background-color: rgb(213, 216, 216);
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 20px;
}
.cont{
    margin-right: 250px;
}
.checkout{
    color: white;
    border: 1px solid green;
    padding: 5px 10px;
    background-color: rgb(34, 154, 34);
    border-radius: 8px;
    margin-left: 280px;
    margin-top: -8px;
}

.footer{
    background-color: rgb(213, 216, 216);
    padding-bottom: 20px;
    text-align: center;
}