@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');
*{
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    border: 5px solid black;
}
.flex-item{
    padding: 16px;
    text-align: center;
    font-size: 18px;
}
.item1{
    background-color: antiquewhite;
}
.item2{
    background-color: rgb(244, 205, 153);
}
.item3{
    background-color: rgb(149, 209, 132);
}
.item4{
    background-color: rgb(118, 225, 236);
}
.item5{
    background-color: rgb(243, 160, 112);
}
.item6{
    background-color: rgb(232, 143, 182);
}
.item7{
    background-color: rgb(189, 180, 240);
}
.item8{
    background-color: rgb(188, 140, 161);
}
.item9{
    background-color: rgb(232, 212, 213);
}

/* ----------Flex Properties----------- */

.container{
    display: flex; /*display: inline-flex */;
    /* flex-wrap: wrap;
    flex-direction: row; */
    flex-flow: row wrap;
    /* column-gap: 20px;
    row-gap: 20px; */
    /* gap: 20px 40px; */
    gap: 20px;
    justify-content: space-evenly;
    height: 500px;
    align-items: flex-start;
}